# code to make necessary changes in the table

In [26]:
import numpy as np
import pandas as pd
humidity=pd.read_csv("refined.csv")
humidity.sort_values(by=["weight"],ascending=True,inplace=True)
humidity.head()

   S Incu No  age  weight    heatout  incuhum  incutemp  roomhum  roomtemp
23        BW   29     730  27.846154    35.90    33.515    57.65    29.040
8         BK   27     770  28.615385    47.20    33.995    46.75    28.420
33       AAK   28     800  20.076923    63.90    34.970    67.00    28.340
41       AAT   25     820  30.076923    54.75    33.100    59.35    29.105
5         BF   28     850  30.153846    47.10    34.460    72.00    27.445

In [27]:
import pandas as pd
rates=pd.read_csv("New data set.csv")
rates.columns=rates.columns.str.lower()
rates.sort_values(by=["weight"],ascending=True)
rates.head()

   weight  volume_ml  respiration_rate
0    2.04        454              30.6
1    1.76        320              32.4
2    1.81        309              45.4
3    2.01        318              20.0
4    2.10        460              36.7

In [28]:
weight=list(rates["weight"])
volume=list(rates["volume_ml"])
resp=list(rates["respiration_rate"])
weight_1=[]
for i in weight:
    i=int(i*1000)
    weight_1.append(i)

print(weight_1)
weight_1.sort()
print(weight_1)

[2040, 1760, 1810, 2009, 2100, 1500, 1640, 2009, 2100, 2300, 1590, 1700, 2070, 1980, 2240, 2240, 1530, 1390, 1980, 2040, 2240, 2300, 2350, 1870, 2240, 2270, 2130, 2180, 1670, 1670]
[1390, 1500, 1530, 1590, 1640, 1670, 1670, 1700, 1760, 1810, 1870, 1980, 1980, 2009, 2009, 2040, 2040, 2070, 2100, 2100, 2130, 2180, 2240, 2240, 2240, 2240, 2270, 2300, 2300, 2350]

In [39]:
import math
volume_arr=[]
resp_arr=[]
weight_x=list(humidity["weight"])
print(weight_x)
for i in weight_x:
    for j in weight_1:
        if i<= weight_1[0]:
            #Sambavam
            volume_arr.append(volume[0])
            resp_arr.append(resp[0])

        x=i
        if i==j:
            #Sambavam
            volume_arr.append(volume[weight_1.index(j)])
            resp_arr.append(resp[weight_1.index(j)])
            continue
        else:
            y=weight_1.index(j)
            x_=abs(i-weight_1[y-1])
            x= abs(i-j)
            if x_<x:
                #Therefore x_ was the lowest difference
                #Sambavam
                volume_arr.append(volume[weight_1.index(j)-1])
                resp_arr.append(resp[weight_1.index(j)-1])
                continue
resp_arr=resp_arr[:96]
volume_arr=volume_arr[:96]
humidity["resp_rate"]=resp_arr
humidity["volume"]=volume_arr

[730, 770, 800, 820, 850, 880, 885, 895, 895, 910, 910, 960, 960, 970, 980, 990, 1040, 1070, 1100, 1160, 1170, 1200, 1220, 1220, 1240, 1250, 1300, 1300, 1320, 1330, 1330, 1360, 1370, 1370, 1410, 1430, 1440, 1460, 1470, 1470, 1490, 1510, 1540, 1550, 1560, 1580, 1640, 1705, 1750, 1760, 1760, 1770, 1790, 1800, 1800, 1800, 1810, 1850, 1850, 1880, 1900, 1940, 1960, 1970, 1980, 2000, 2000, 2000, 2040, 2040, 2050, 2070, 2120, 2120, 2120, 2150, 2150, 2200, 2200, 2200, 2210, 2210, 2220, 2230, 2230, 2240, 2240, 2240, 2240, 2240, 2240, 2250, 2250, 2250, 2250, 2290]

In [40]:
humidity

,S Incu No,age,weight,heatout,incuhum,incutemp,roomhum,roomtemp,resp_rate,volume
23,BW,29,730,27.846154,35.90,33.515,57.65,29.040,30.6,454
8,BK,27,770,28.615385,47.20,33.995,46.75,28.420,30.6,454
33,AAK,28,800,20.076923,63.90,34.970,67.00,28.340,30.6,454
41,AAT,25,820,30.076923,54.75,33.100,59.35,29.105,30.6,454
5,BF,28,850,30.153846,47.10,34.460,72.00,27.445,32.4,320
...,...,...,...,...,...,...,...,...,...,...
73,BY,36,2250,13.230769,44.50,33.465,53.30,28.900,29.0,522
76,BBC,36,2250,20.153846,56.05,34.075,64.75,28.645,30.6,454
80,AAG,36,2250,16.230769,57.65,33.980,52.10,30.165,46.0,277
84,BBK,35,2250,20.153846,54.10,34.465,43.95,28.075,30.6,454
59,BN,34,2290,26.307692,48.25,33.980,49.40,28.510,40.4,205

In [42]:
humidity.to_csv("breath.csv")