# Temperature and Humidity prediction of incubators:

In [2]:
import pandas as pd
dat1=pd.read_csv("1.csv",index_col="S Incu No")
null_pct=dat1.apply(pd.isnull).sum()/dat1.shape[0]
print(null_pct)
valid_columns=dat1.columns[null_pct<0.05]
dat1=dat1[valid_columns].copy()
#as only 1 has null values

dat2=pd.read_csv("2.csv",index_col="S Incu No")
dat3=pd.read_csv("3.csv",index_col="S Incu No")
dat4=pd.read_csv("4.csv",index_col="S Incu No")
dat5=pd.read_csv("5.csv",index_col="S Incu No")
dat6=pd.read_csv("6.csv",index_col="S Incu No")

dat1.columns=dat1.columns.str.lower()
dat2.columns=dat2.columns.str.lower()
dat3.columns=dat3.columns.str.lower()
dat4.columns=dat4.columns.str.lower()
dat5.columns=dat5.columns.str.lower()
dat6.columns=dat6.columns.str.lower()

Study ID                                                                   0.000000
Incubator type                                                             0.000000
Maternal age in years                                                      0.000000
Gravida                                                                    0.000000
Parity                                                                     0.000000
Maternal PIH                                                               0.000000
Maternal diabetes (GDM / Overt)                                            0.000000
Maternal Hypothyroidism                                                    0.000000
Mode of delivery                                                           0.000000
Antenatal Steroids                                                         0.000000
Gestational age at birth in completed weeks                                0.000000
Sex                                                                        0.000000
Birth weight in gms                                                        0.000000
Appropriate or small or large for gestation                                0.000000
Birth head circumference in cm                                             0.000000
APGAR1                                                                     0.000000
APGAR 5                                                                    0.000000
Need for PPV in D.Room                                                     0.000000
Need for respiratory support                                               0.000000
Surfactant given                                                           0.000000
Duration of ventilation support days                                       0.000000
Day of reaching full feeds                                                 0.000000
Feed intolerance                                                           0.000000
Culture proven sepsis                                                      0.000000
Antibiotic duration                                                        0.000000
PDA treated                                                                0.000000
Anemia transfused                                                          0.000000
ROP                                                                        0.000000
KMC duration prior hr/day                                                  0.000000
Hypoglycemia                                                               0.000000
Post-natal age at enrollment, in days                                      0.000000
Weight at enrollment                                                       0.000000
Head circumference at enrollment                                           0.000000
Place of study                                                             0.000000
AT prior enrollment C                                                      0.000000
ST prior enrollment C                                                      0.000000
Thermoregulation prior enrollment Radiant warmer care or incubator care    0.000000
Heater output radiant warmer                                               0.177083
Incubator temperature prior enrollment in C                                0.822917
dtype: float64

In [3]:
#To combine the multiple fking data:
from statistics import mean
#dat2=dat2.drop(["s incu no"],axis=1)
dat2["heatout"]=dat2.apply(lambda x: mean(x),axis=1)
dat2["heatout"]

S Incu No
BA     18.615385
AC     21.615385
AD     27.000000
BE     23.230769
AF     31.615385
         ...
AAN    29.307692
AAO    32.384615
AAV    19.307692
BBT    34.769231
BBV    28.615385
Name: heatout, Length: 96, dtype: float64

In [4]:
#Similarly we are doing for the other csv files as well:
from statistics import mean
dat3=dat3.drop(["study id","set incu temp","incubator type"],axis=1)
dat3["incuhum"]=dat3.apply(lambda x:mean(x),axis=1)
dat3["incuhum"]

S Incu No
BA     48.95
AC     60.75
AD     53.10
BE     49.10
AF     52.85
       ...
AAN    62.45
AAO    48.40
AAV    55.20
BBT    50.85
BBV    56.05
Name: incuhum, Length: 96, dtype: float64

In [5]:
from statistics import mean
dat4=dat4.drop(["study id","incubator type","set incu temp"],axis=1)
dat4["incutemp"]=dat4.apply(lambda x : mean(x),axis=1)
dat4["incutemp"]

S Incu No
BA     34.440
AC     32.975
AD     33.020
BE     33.560
AF     33.110
        ...
AAN    32.440
AAO    33.065
AAV    32.970
BBT    33.990
BBV    34.030
Name: incutemp, Length: 96, dtype: float64

In [6]:
from statistics import mean
dat5=dat5.drop(["study id","incubator type","set incu temp"],axis=1)
dat5["roomhum"]=dat5.apply(lambda x: mean(x),axis=1)
dat5["roomhum"]

S Incu No
BA     57.90
AC     59.00
AD     58.45
BE     55.55
AF     58.85
       ...
AAN    55.55
AAO    42.50
AAV    56.40
BBT    55.55
BBV    42.85
Name: roomhum, Length: 96, dtype: float64

In [7]:
from statistics import mean
dat6=dat6.drop(["study id","incubator type","set incu temp"],axis=1)
dat6["roomtemp"]=dat6.apply(lambda x: mean(x),axis=1)
dat6["roomtemp"]

S Incu No
BA     26.370
AC     28.175
AD     27.310
BE     28.965
AF     27.345
        ...
AAN    27.435
AAO    27.930
AAV    28.710
BBT    28.500
BBV    28.780
Name: roomtemp, Length: 96, dtype: float64

In [8]:
#Combining all the cleaned data into 1
dataset1=pd.concat([dat1["gestational age at birth in completed weeks"],dat1["birth weight in gms"],dat2["heatout"],dat3["incuhum"],dat4["incutemp"],dat5["roomhum"],dat6["roomtemp"]],axis=1)
dataset1

,gestational age at birth in completed weeks,birth weight in gms,heatout,incuhum,incutemp,roomhum,roomtemp
S Incu No,,,,,,,
BA,29,1470,18.615385,48.95,34.440,57.90,26.370
AC,27,960,21.615385,60.75,32.975,59.00,28.175
AD,31,1430,27.000000,53.10,33.020,58.45,27.310
BE,29,1370,23.230769,49.10,33.560,55.55,28.965
AF,30,1460,31.615385,52.85,33.110,58.85,27.345
...,...,...,...,...,...,...,...
AAN,33,2220,29.307692,62.45,32.440,55.55,27.435
AAO,36,2000,32.384615,48.40,33.065,42.50,27.930
AAV,34,1360,19.307692,55.20,32.970,56.40,28.710
BBT,33,1940,34.769231,50.85,33.990,55.55,28.500
BBV,33,1750,28.615385,56.05,34.030,42.85,28.780

In [9]:
dataset1.columns=["age","weight","heatout","incuhum","incutemp","roomhum","roomtemp"]
dataset1["target"]=dataset1.shift(-1)["incuhum"]
dataset1=dataset1.ffill()
dataset1

,age,weight,heatout,incuhum,incutemp,roomhum,roomtemp,target
S Incu No,,,,,,,,
BA,29,1470,18.615385,48.95,34.440,57.90,26.370,60.75
AC,27,960,21.615385,60.75,32.975,59.00,28.175,53.10
AD,31,1430,27.000000,53.10,33.020,58.45,27.310,49.10
BE,29,1370,23.230769,49.10,33.560,55.55,28.965,52.85
AF,30,1460,31.615385,52.85,33.110,58.85,27.345,47.10
...,...,...,...,...,...,...,...,...
AAN,33,2220,29.307692,62.45,32.440,55.55,27.435,48.40
AAO,36,2000,32.384615,48.40,33.065,42.50,27.930,55.20
AAV,34,1360,19.307692,55.20,32.970,56.40,28.710,50.85
BBT,33,1940,34.769231,50.85,33.990,55.55,28.500,56.05
BBV,33,1750,28.615385,56.05,34.030,42.85,28.780,56.05

In [10]:
from sklearn.linear_model import Ridge
rr=Ridge(alpha=0.1)
#We will build models separely for temp,humidity
predictors=dataset1.columns[~dataset1.columns.isin(["target"])]
predictors

Index(['age', 'weight', 'heatout', 'incuhum', 'incutemp', 'roomhum',
       'roomtemp'],
      dtype='object')

In [16]:

#Using ridge here as babies are not fixed,as time passes data of more babies are availabe
def backtest(dataset1,model,predictors,start=260,step=90):
    all_predictions=[]
    for i in range(start,dataset1.shape[0],step):
        train=dataset1.iloc[:i:]
        test=dataset1.iloc[i:(i+step):]
        model.fit(train[predictors],train["target"])
        predsh=model.predict(test[predictors])
        predsh=pd.Series(predsh,index=test.index)
        combined=pd.concat([test["target"],predsh],axis=1)
        print(combined)
        combined.columns=["actual_incuhum","predicted_incuhum"]
        all_predictions.append(combined)
    #return pd.concat(all_predictions)
    return all_predictions
predictions=backtest(dataset1,rr,predictors)
predictions

[]